<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604397227822-vv98oaseibs9u2b6a9hoo94ppoie3e8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604397227822-vv98oaseibs9u2b6a9hoo94ppoie3e8l</string>
	<key>API_KEY</key>
	<string>AIzaSyAI6TQahVoNxwlSqHnHtBfe7S2n6DRstOA</string>
	<key>GCM_SENDER_ID</key>
	<string>604397227822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digimcq</string>
	<key>PROJECT_ID</key>
	<string>digimcq</string>
	<key>STORAGE_BUCKET</key>
	<string>digimcq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604397227822:ios:e3be37f8d4ebf9dda334bf</string>
</dict>
</plist>